body{
    color: #616161;
    background: #e3e0cf;
    text-align: center;
    margin: 1%;
    line-height:1.15;
    font-family:  "Assistant",'Varela Round', sans-serif;
    min-height: 400px;
}

nav{
    background: #d5d0b6;
    justify-content: space-around;
    align-content: space-around;
}
main{
    padding: 1%;

}
.navigationSpace{
    padding: 10px;
}
h1{
    /* font-size: 45px; */
    font-size: 3.5rem; 
	font-weight: bold;
    text-align: center;
    margin: 20px;
    color: #616161;
}
h2{
    font-size: 25px;
}
#main_page{
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    border: 3px solid #d0cbaf;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#malls, #boutiques{
    background-color: #d0cbaf;
}
#acai_section, #restaurant_section{
    margin-top:20px;
    background-color: #d0cbaf;
}

#north-shore-recap{
    margin: 20px;
}
h2:hover{
    border: 3px solid #c5d5cb;
    border-radius: 5px;
    transition-property: border;
    transition-duration: 2s;
    transition-timing-function: ease-in;

}

h3{
    /* font-size: 22px; */
    font-size:2.2rem;
    padding-bottom: 5px;
}
p{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
img{
    display: inline-block;
    margin: 2px;
    padding: 0px;
    border: 4px solid #cdc8aa;
    /* border: 4px solid #d3d5d5; */
    border-radius: 2px;
    text-align: center;

  }
#resize-img, #chicago{
    width: 300px;
}
img:nth-child(even):hover{
    box-shadow: 10px 10px 5px #d1caa4;
}
.container{
    /* border: 3px solid #c5d5cb; */
    border: 3px solid #d0cbaf;
    margin-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;

}
.shopping-section{
    margin: 15px;
}


img:hover{
    opacity: 0.5;
}
.icons_sometimes{
    visibility: hidden;
}
.images_container{
    justify-content: center;
      
  }
.images-container img{
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
  }

li {
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px; 
    display: inline-block;
    margin: 20px; 
  }
  .logo{
      text-align: center;
      justify-content: center;
  }

li:hover {
    color: #6fd5fa;
    background-color: white;
}
    
.active{
    background-color: white;
    /* border: 2px solid #3cb2da; */
    border: 2px solid #7d7649;
    border-radius: 20px;
    text-align: center;
}

#form_legend{
    font-size: 125%;
  text-transform: uppercase;
  text-align: center;
  
}

  .flip-card {
    background-color: #e3e0cf;
    width: 300px;
    height: 200px;
    perspective: 1000px; 
    margin: auto;

  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
 
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);

  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  
  .flip-card-front {
    color: black;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
  
  .invert{
    position: sticky;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: content-box;
    
  }
  textarea{
      width: 582px;
      height:184px;
      padding: 12px 20px;
      display: flex;
      margin:auto;
  }
  #phone_format{
      font-size: 0.75rem;
    padding-top:0px;
    padding-bottom: 20px;
  }
  #remember_id{
    display: flex;
    margin: auto;
      justify-self: center;
      padding: 12px 20px;
  }
  #checkbox{
    display: flex;
    margin: auto;
      justify-self: center;
  }
  #remember{
      padding: 15px;
  }
  #submit_button{
      width: 50px;
      display: flex;
      margin: auto;
      justify-self: center;
      background-color:#c5d5cb;
      font-weight: bold; 
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
  }
  #submit_button:hover{
    border: 3px solid #c5d5cb;
    
  }
 
  .waves{
      background: url("images/waves.gif");
      padding: 20px;
      border: none;
    
  }

  #click_here{
      margin: 20px;
      background-color:#c2dde6;
  }
a:visited{
    color: #000;
}
.restaurant_images1{
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: row;*/
    justify-content: center; 
    align-items: center;
}
.restaurant_images{
    /* display: flex; */
    justify-content: center;
}
#lous_link, #blufish_link, #portillos_link, #guildhall_link, #disotto_link, #hampton_link, #spirit_link, #deerpathlink, #hometown_link, #foodstuffs_link, #bright_link, #lolos_link, #lf_link{
    display:block;
    z-index: 1;
}
a.skip{
    padding: 6px;
    -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: -999;
    position:relative;
    left: -500px;
}
a.skip:focus, a.skip:active {
    left: auto;
    top: auto;
    height: auto;
    overflow:auto;
    text-align:center;
    z-index: 999;
    color: #616161;
}
footer {
    color: #404040;
    /* background-color: #c2dde6; */
    background-color: #d5d0b6;
    text-align: center;
    min-height: 10%;
    margin: 20px;
  }
  footer p{
      padding: 20px;
  }

  @media screen {
    /* .trails_images_container{
    
        display:grid;
        padding:5px;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-self: center;
  
    } */
    a.skip{
        z-index: 1;
        position: absolute;
        left: -200px;
    }
    a.skip:focus{
        position: absolute;
        top: 20px;
      }
    input{
        max-width: 92%;
    }
    textarea{
        max-width: 92%;
    }
    #shore_line{
        background-image: url("../images/north_shore.jpeg");
        background-repeat: no-repeat;
    }
    body{
        font-family: "Assistant", 'Varela Round', sans-serif;
    }
    #chicago {
        animation: chicago 5s;
    }
    #north-shore{
        animation: chicago 5s;
    }
    @keyframes chicago{
        from{opacity:0;}
        to{opacity:1;}
    }
    .waves{
       overflow-x: hidden;
       padding: 2rem;
    }
    .container{
        padding: 2rem;
    }
    .icons_sometimes{
        visibility: visible;
        padding: 10px;
    }
    }

    @media screen and (min-width: 425px) {
        .restaurant_images1 {
           flex-direction: column;
           flex-wrap: nowrap;
       }
       .trails_images_container{
           grid-template-columns: 1fr 1fr;
           justify-items: center;
       }
     }
  @media screen and (prefers-reduced-motion){
      #chicago{
          animation: none;
      }
      a.skip {
        -webkit-transition: initial; /* sets to default setting */
        transition: initial; /* sets to default setting */
      }
      .flip-card:hover .flip-card-inner{
          transform: none;
      }
      #main_page{
        background-attachment: scroll;
      }
      
  }
  .trails_images_container{
    grid-template-columns: 1fr ;
    align-items: center;
    justify-items: center;
  }

  @media screen and (min-width: 725px) {
    .restaurant_images1 {
    flex-wrap: wrap;
    flex-direction: row;
      justify-content: space-around;
      align-items: center;
      align-content: center;
    }
    .trails_images_container{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
  }
  
  @media screen and (min-width: 1025px) {
.trails_images_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:10px;
    justify-items: center;
}
  }